.cabecalhoPrincipal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .cabecalhoPrincipal-nav {
  display: flex;
}

.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}

.rodapePrincipal-contatoForm {
  width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
  display: flex;
}

.rodapePrincipal-navMap-list {
  display: flex;
  /* flex-flow unifica o flex-direction e flex-wrap */
  flex-flow: column wrap;
  height: 250px;
}

.conteudoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
  width: 22%;
  margin: 1%;
}

/* Considerando apenas os elementos múltiplos de 4. */
.conteudoPrincipal-cursos-link:nth-child(4n) {
  margin-right: 0;
}

/* Considerando apenas os elementos após elementos múltiplos de 4. */
.conteudoPrincipal-cursos-link:nth-child(4n+1) {
  margin-left: 0;
}