.cabecalhoPrincipal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .cabecalhoPrincipal-nav {
  display: flex;
}

.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}

.rodapePrincipal-contatoForm {
  width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
  display: flex;
}

.rodapePrincipal-navMap-list {
  display: flex;
  /* flex-flow unifica o flex-direction e flex-wrap */
  flex-flow: column wrap;
  height: 250px;
}

.conteudoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
  width: 22%;
  margin: 1%;
}

/* Considerando apenas os elementos múltiplos de 4. */
.conteudoPrincipal-cursos-link:nth-child(4n) {
  margin-right: 0;
}

/* Considerando apenas os elementos após elementos múltiplos de 4. */
.conteudoPrincipal-cursos-link:nth-child(4n+1) {
  margin-left: 0;
}


@media(max-width: 1100px) {
  .conteudoPrincipal-cursos-link a {
    font-size: 15px;
  }
}


@media(max-width: 1000px) {
  .conteudoPrincipal-cursos-link {
    width: 45%;
    margin: 10px !important;
  }
}

/* Mobile Responsive */
@media(max-width: 768px) {
  .container .cabecalhoPrincipal-nav {
    flex-direction: column;
  }

  .cabecalhoPrincipal .container {
    flex-direction: column;
    align-items: initial;
    text-align: center;
  }

  .conteudoPrincipal-cursos {
    flex-direction: column;
  }

  .conteudoPrincipal-cursos-link {
    width: 100%;
  }

  .rodapePrincipal-navMap-list {
    height: auto;
  }

  .rodapePrincipal-patrocinadores .container {
    flex-direction: column;
  }

  .rodapePrincipal-contatoForm {
    width: 100%;
    text-align: center;
  }

  .rodapePrincipal-patrocinadores-list {
    margin: 0;
    width: 100%;
    flex-direction: column;
  }

  .rodapePrincipal-patrocinadores-list li {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .rodapePrincipal-contatoForm-fieldset {
    justify-content: center;
  }
}